# This file instructs git to ignore specific directories,
# files, and file types
# ("ignore" meaning that they won't be included
# in the git repository)

# OpenFrameworks
#---------------

of_v0.11.2_vs2017_release/addons
of_v0.11.2_vs2017_release/apps/myApps/emptyExample
of_v0.11.2_vs2017_release/docs
of_v0.11.2_vs2017_release/examples
of_v0.11.2_vs2017_release/libs
of_v0.11.2_vs2017_release/other
of_v0.11.2_vs2017_release/projectGenerator
of_v0.11.2_vs2017_release/scripts
of_v0.11.2_vs2017_release/CHANGELOG.md
of_v0.11.2_vs2017_release/CODE_OF_CONDUCT.md
of_v0.11.2_vs2017_release/INSTALL.md
of_v0.11.2_vs2017_release/INSTALL_FROM_GITHUB.md
of_v0.11.2_vs2017_release/LICENSE.md
of_v0.11.2_vs2017_release/README.md
of_v0.11.2_vs2017_release/THANKS.md

# Built files
#------------

*.exe
[Bb]in
[Oo]bj

# Visual Studio
#==============

# Explicitly temporary files
#---------------------------

/.vs

# Solution User Settings
#-----------------------

*.suo

# Project User Settings
#----------------------

*.vcxproj.user

# Intellisense
#-------------

*.sdf
*.opensdf
/ipch
*.VC.db
*.VC.VC.opendb

# Profiling
#----------

*.psess
*.vsp
*.vspx
*.sap

# Resources
#----------

*.aps

# Windows
#========

desktop.ini
Thumbs.db